html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Biryani', sans-serif;
	position: relative;
	left: 0;
}

.page-header {
	background: url(img/main-background-small.jpg);
	background-size: cover;
	background-position: 50%;
	text-align: center;
	height: 500px;
	margin-top: -35px;
}

.page-header .menu-btn {
	position: fixed;
	z-index: 999;
	left: 10px;
	top: 10px;
	font-size: 2rem;
	background: none;
	color: #ffffff;
	border: none;
	padding: 0;
}

.page-header .page-nav .close-menu-btn {
	position: relative;
	left: 10px;
	top: 10px;
	fill: #ffffff;
	border: none;
	width: 30px;
	height: 30px;

}

.page-header .page-nav {
	background: url(img/wood-small.jpg);
	background-size: cover;
	border-right: 4px solid #49311c;
	position: fixed;
	text-align: left;
	z-index: 1000;
	height: 100%;
	width: 155px;
	left: -155px;
	opacity: 0;

}



.page-header .page-nav ul {
	list-style-type: none;
	padding: 0;
	position: relative;
	top: 10px;
	left: 0px;
}

.page-header .page-nav ul li {
	padding: 10px 0px 5px 5px;
	font-size: 1.7rem;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
}

.page-header .page-nav ul li:first-child,
.page-header .page-nav ul li:nth-child(2) {
	border-bottom: none;
}

.page-header .page-nav ul li:nth-child(4) {
	border-top: none;
}

.page-header .page-nav ul li a {
	text-decoration: none;
	color: #ffffff;
}

.page-header h2 {
	color: #ffffff;
	font-size: 4rem;
	position: relative;
	top: 160px;
	line-height: 50px;
	font-family: 'Galindo', sans-serif;
}

.page-header p {
	color: #ffffff;
	font-size: 2rem;
	position: relative;
	top: 130px;
}

article .three-imgs {
	position: relative;
	top: 20px;
	text-align: center;
}

article .three-imgs img {
	margin-left: 2px;
	margin-right: 2px;
	width: 40px;
}

article .description {
	position: relative;
	top: 20px;
	font-size: 1.6rem;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}

article #expert {
	position: flex;
	margin-top: 20px;
	background: #ff704d;
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 0px 6px #000000;
	
}

article #expert .query {
	width: 100%;
}

article #expert .query h2:first-child {
	padding-top: 10px;
	padding-left: 10px;
	margin: 0;
}

article #expert .query input[type="radio"] {
	margin-left: 10px;
}

article #expert .query input[type="radio"]+label{
	font-size: 1.4rem;
}

article #expert .query ul {
	padding: 0;
}

article #expert .query ul .question {
	list-style-type: none;
	border-bottom: 3px solid #ffffff;
}

article #expert .query ul .question:nth-child(2) {
	display: none;
}

article #expert .query ul .question:nth-child(3) {
	display: none;
}

article #expert .query ul .question:nth-child(4) {
	display: none;
}

article #expert .query ul. question.question-done {
	display: block;
}

.result {
	font-size: 2rem;
	margin-left: 5px;
	margin-right: 5px;
}

.submit-btn {
	position: relative;
	font-size: 1.8rem;
	border: 2px solid #000000;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	color: #ffffff;
	border-radius: 20px;
	bottom: 5px;
}

.mail-contact {
	position: flex;
	text-align: center;
}

.mail-contact .mail-information {
	font-size: 1.6rem;
}

footer .copyright {
	line-height: 13px;
	text-align: center;
	position: relative;
	top: 2px;
}

.page-up-btn {
	fill: red;
	width: 30px;
	height: 30px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	opacity: 0.4;
}